g.autohint: 0

XTerm*faceName: SauceCodePro Nerd Font Mono
XTerm*iconHint: /home/josh/.local/share/pixmaps/terminal.xpm
XTerm*selectToClipboard: true
XTerm*termName: xterm-256color
XTerm*metaSendsEscape: true
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?

UXTerm*faceName: SauceCodePro Nerd Font Mono
UXTerm*iconHint: /home/josh/.local/share/pixmaps/terminal.xpm
UXTerm*selectToClipboard: true
UXTerm*termName: xterm-256color
UXTerm*metaSendsEscape: true
UXTerm*backarrowKey: false
UXTerm*ttyModes: erase ^?

i3wm.standardFont: SFNS Display

yeahconsole*toggleKey: Alt+F1

#include ".Xresources.d/font-sizes"
